.AnswerPage {
  display: flex;
  margin: 100px;

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--odd {
      background-color: rgb(239, 239, 239);

      .AnswerPage__item--color & {
        background-color: rgb(255, 249, 212);
      }
    }
  }

  &__key,
  &__val {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 16px 8px;
  }

  &__key {
    border-right: 1px solid black;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px;
    border: 1px solid black;

    &--color {
      background-color: rgb(253, 255, 212);
    }
  }
}
