.MuiCard-root:hover {
    background-color: rgb(242, 176, 74);
    color: white;
}

.visibleYoutube {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 100px;

}

.YoutubePage {
    background-image: url("../assets/images/landingpage_v09.JPG");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}