@import './utils.scss';

.Description {
  animation: fadeIn 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  min-height: 500px;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 24px rgb(255, 194, 97);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: #ffd89e;

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    background-color: #c1c1c1;
    z-index: 1;
  }

  &__header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 8px;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 32px;
  }

  &__closeBtn {
    @include resetBtn();
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;

    &:hover {
      background-color: #ffd261;
    }
  }

  &__closeIcon {
    width: 32px;
    height: 32px;
    display: block;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/close_icon.svg');
  }

  &__item {
    font-size: 20px;
    margin-bottom: 20px;

    &--detail {
      color: rgb(111, 111, 111);
      margin-top: -10px;
    }
  }
}
