#layoutDom {
  width: 100%;
  height: 100%;
  padding: 30px;
}

#titleDom {
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#teamDom,
#yearDom,
#categoryDom,
#numberOfProblemDom {
  max-width: 1200px;
  margin: 0 auto 40px;
  margin-bottom: 40px;
  padding: 0 200px;
}

#buttonDom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
  padding: 0 200px;
}

.startBtn {
  cursor: pointer;
}

.startBtn:hover > button {
  border: 1px solid rgb(93, 93, 93);
}

.startLink {
  color: black;
}

#teamNameDom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.SettingPage__imgContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.SettingPage__img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.SettingPage__img--left {
  background-image: url('../assets/images/fire.png');
}

.SettingPage__img--right {
  background-image: url('../assets/images/fight.png');
}
