#layoutDom{
    width: 100%;
    min-height: 100vh;
    border: 10px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9b256;
}

#titleDom{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#teamDom, #yearDom, #categoryDom, #numberOfProblemDom{
    margin-bottom: 30px;
}

#buttonDom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#teamNameDom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}